:root {
  --colorUno: #041C32;
  --colorDos: #04293A;
  --colorTres: #064663;
  --colorCuatro: #ECB365;

  --blanco: #fff;
  --negro: #000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.App {
  height: 100vh;
  padding-top: 1rem;
  background-color: var(--colorUno);
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4rem;
  color: var(--blanco);
  font-size: 5rem;
  margin-bottom: 6rem;
}

.contenedor-calculadora {
  width: 40rem;
  height: 60rem;
  background-color: var(--colorTres);
  border-radius: 2rem;
}

.fila {
  margin: 1.5rem 0;
  display: flex;
  align-items: space-evenly;
  justify-content: space-evenly;
}